body{
    background: #f5f7fa;
}

.login-page-main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    margin-left: 350px;
    margin: 0 0 40px 350px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.img1{
    height: 470px;
}

.login-form h2{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    color: #1e4fb8;
}

.login-form input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.login-form input:hover{
  border-color: #1e4fb8;
}

.login-form button{
    width: 190px;
    padding: 10px;
    margin-left: 50px;
    background-color: #4988C4;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.login-form button:hover{
    background: #163c8c;
}

.login-form p{
    margin-top: 1px;
  font-size: 17px;
  padding-left: 35px;
}
.login-form a {
  color: #1e4fb8;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.Continue-with-google-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: white;
     margin-bottom: 8px;
     border-radius: 10px;
    border: 1px solid rgb(163, 163, 163);
     cursor: pointer;
     height: 30px;
     width: 105%;
     padding: 4px;
}

.Continue-with-google-container img{
    width: 20px;
    padding-left: 45px;  
}

.Continue-with-google-container p{
    padding-left: 3px;
    font-size: 14px;
    padding: 5px;
}

/* login page media query */
@media screen and (max-width:768px) {
    .login-page-main-container{
       display: flex;
       flex-direction: column;
       height: auto;
       width: auto;
       margin-left: 10px;
    }    
}