body{
    background-color: white;
    margin: 0%;
    padding: 0%;
}
.mian-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#355872;
    
}
.main-class-logo{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-color: 3px solid black;  
}
.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-container h2{
    padding: 5px;
    font-weight: 1000;
    color: white;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.menu{
    color: white;
    text-decoration: none;
}
.menu:hover{
    color: #E97F4A;
    text-decoration: underline;
}

.humburger img{
    height: 40px;
    display: none;
    cursor: pointer;
}

.menu-toggle{
    display: none;
}

@media screen and (max-width: 768px){
    .mian-container{
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .humburger img{
        display: block;
    }

    .nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    .menu-toggle:checked ~ .nav-menu{
        display: flex;
    }

    .menu-toggle:checked ~ .humburger{
        font-size: 28px;
        content: 'x';
    }

    .menu{
        font-size: 16px;
    }
}