body {
  background-color: white;
}

body {
  margin: 0%;
  padding: 0%;
}

.main-contaienr {
  display: flex;
  flex-direction: row;
}

.sub-contaienr {
  background-color: lightpink;
  height: 600px;
  width: 400px;
}

.signup-form {
  background-color: white;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  height: 700px;
  width: 400px;
  padding: 20px;
  margin: 130px 200px 100px 200px;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e4fb8;
}

.signup-form input {
  width: 92%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;

}

.signup-form input:hover {
  border-color: #1e4fb8;
}

.signup-form button {
  width: 92%;
  padding: 8px;
  background: #1e4fb8;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  margin-left: 11px;
}

.signup-form button:hover {
  background: #163c8c;
}

.signup-form p {
  margin-top: 1px;
  font-size: 17px;
  padding-left: 20%;
}

.signup-form a {
  color: #1e4fb8;
  text-decoration: none;
}

.signup-form a:hover {
  text-decoration: underline;
}

.left-side-container {
  background-color: #F0F4F8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* left side part */
.left-side-container img {
  height: 600px;
}

.left-side-container h1 {
  color: #1b3b5a;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.left-side-container p {
  color: black;
  font-size: 17px;
  line-height: 1.6;

  text-align: center;
}

@media screen and (max-width:768px) {

  .main-contaienr{
    display: flex;
    flex-direction: column;
  }
  
  .signup-form{
    margin: auto;
    margin-top: 20px;
  }
}